**/node_modules
**/.nvmrc

strapi/coverage
strapi/.env
strapi/dist
strapi/build
strapi/.strapi-updater.json
strapi/atlas_t.db
strapi/.cache
strapi/.strapi
strapi/types

www/.cache
www/11ty_output
www/.env
