---
layout: default.njk
---

<h2> {{ contenus["a-propos"].attributes.titre }}</h2>
<div class="photos-grid">
  {% galleryImage contenus["a-propos"].attributes.illustration.data %}
</div>

{{ contenus["a-propos"].attributes.contenu | markdown | safe }}
