{% extends "./_layouts/default.njk" %}

{% block content %}
  <div class="photos-grid">
    {% for projet in projets %}
      {% set media = projet.attributes.medias.data | first %}
      <div>
        <a href="/projets/{{ projet.attributes.titre | slugify }}/">
          {% cloudinaryImage media %}
          <div>
            {{ projet.attributes.titre }}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
