---
pagination:
  data: projets
  size: 1
  alias: projet
permalink: "projets/{{ projet.attributes.titre | slugify }}/"
---

{% extends "./_layouts/default.njk" %}


{% block content %}
  <div class="titles-wrapper">
    <div class="titles">
      <h3>{{ projet.attributes.surtitre }}</h3>
      <h2>{{ projet.attributes.titre }}</h2>
      <h3>{{ projet.attributes.soustitre }}</h3>
    </div>
  </div>

  <div class="projet-description">
    {{ projet.attributes.description | markdown | safe }}
  </div>

  <div class="photos-grid">
    {% for media in projet.attributes.medias.data %}
      {% galleryImage media %}
    {% endfor %}
  </div>
{% endblock %}
