{% extends "./_layouts/default.njk" %}

{% block content %}
  {% set imageData = contenus["publications"].attributes.illustration.data.attributes %}
  <div class="center">
    <img
        src="https://res.cloudinary.com/outofscreen/image/upload/f_auto/q_auto/{{imageData.hash}}{{imageData.ext}}"
        alt="{{imageData.caption}}" />
  </div>

  {{ contenus["publications"].attributes.contenu | markdown | safe }}
{% endblock %}
