<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <title>Atlas.t</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Atlas-t" />
  <link rel="stylesheet" href="/css/water.css" />
  <link rel="stylesheet" href="/css/style-fa46f95d592e3a6a9e5a4db6dc31f002.css" />
  <link rel="stylesheet" href="/css/photoswipe.css">
</head>

<body>
  <header>
    <div class="header-top">
      <div class="title-and-menu-link">
        <div class="title">
          <h1>
            <a href="/">
              Atlas.t
            </a>
          </h1>
        </div>
        <nav class="menu">
          <ul>
            <li><a href="/">projets</a></li>
            <li><a href="/a-propos">équipe</a></li>
            <li><a href="/contact">contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    {{ content | safe }}
    {% block content %}{% endblock %}
  </main>

  <footer>
    Atlas-t ·
    2025 ·
    <a href="https://atlas-t-strapi.fly.dev/admin" target="_blank">Éditer ↗</a>
  </footer>

  <script src="/js/atlas-t.js" type="module"></script>
</html>
