<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <title>Atlas-t</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Atlas-t" />
  <link rel="stylesheet" href="/css/water.css" />
  <link rel="stylesheet" href="/css/style-c14e63a7e2d4231445972eaa67089b7b.css" />
  <link rel="stylesheet" href="/css/photoswipe.css">
</head>

<body>
  <header>
    <div class="header-top">
      <div class="title-and-menu-link">
        <div class="title">
          <h1>
            <a href="/">
              Atlas-T
            </a>
          </h1>
        </div>
        <nav class="menu limit-width">
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/">Projets</a></li>
            <li><a href="/a-propos">Équipe</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    {{ content | safe }}
    {% block content %}{% endblock %}
  </main>

  <script src="/js/atlas-t.js" type="module"></script>
</html>
