/* general */
@font-face {
  font-family: 'Atlas';
  src:  url('/css/atlas-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas';
  src:  url('/css/atlas-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas';
  src:  url('/css/atlas-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

:root {
  --text-main: #000;
  --text-bright: #000;
  --text-muted: #000;
}

*, body {
  font-family: Atlas;
}

html {
  max-width: 1000px; /* override water.css */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  max-width: inherit;
  margin-top: 0;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 3rem;

  @media (min-width: 800px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

a {
  color: inherit;
}

body > main {
  /* for a-propos page */
  min-height: 80vh;
}

body > footer {
  max-width: 800px;
  margin: 3rem auto 0;
  border-top: none;
}

/*  header and menu */

header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
header .header-bottom {
  flex: 1;
  overflow: hidden;
}
header .header-spacer {
  height: 1rem;
  flex-shrink: 0;
}
header .header-bottom.hero-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header .title-and-menu-link {
  margin: 2rem 0 1rem 0;
  border-bottom: 1px solid var(--text-main);
}
header h1 {
  margin: 0;
}
header .title {
  flex: 1;
  text-align: center;
  margin: 0 0 1rem 0;
  padding: 0;
}
header .title svg {
  max-height: 2rem;
}
/* css rule for svg paths where fill is different from #FFFFFF */
header .title svg path:not([fill="#FFFFFF"]) {
  fill: var(--text-main);
}
.menu ul {
  list-style-type: none;
  margin: 0 0 .5rem 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* medias display */

figure {
  margin: 0;
  text-align: center;
}
.photos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-bottom: 3rem;
}
.photos-grid img {
  max-height: 30vh;
  object-fit: cover;
}
.photos-grid img:hover {
  filter: brightness(1.4);
}
@media (min-width: 800px) {
  .photos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* projets */

.titles-wrapper {
  padding: 1rem 0;
  border-bottom: 1px solid #000;
  margin-bottom: 3rem;
}
.titles h2, .titles h3 {
  margin-top: 0;
}

.projet-description {
  margin-top: 3rem;
}

/* contact */
.contact-page {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  &>div:nth-child(1) {
    flex-grow: 1;
    img {
      max-height: 300px;
      max-width: 100%;
      object-fit: contain;
    }
  }
  &>div:nth-child(2) {
    white-space: nowrap;
    ul {
      padding-left: 1rem;
    }
  }
}

.underlined-links a{
  text-decoration: underline;
}



/*
  force hide photoswipe stretched thumb while actual image loads because our thumbs have
  different aspect ratios than the actual images and that is not handled by photoswipe
 */
.pswp__img--placeholder {
  display: none !important;
}
