/* general */
@font-face {
  font-family: 'Atlas';
  src:  url('/css/atlas-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas';
  src:  url('/css/atlas-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas';
  src:  url('/css/atlas-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AtlasTitle';
  src:  url('/css/atlas-title.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atlas';
  src:  url('/css/atlas-light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}


:root {
  --text-main: #000;
  --text-bright: #000;
  --text-muted: #000;
}

body {
  font-family: Atlas;
}

html {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  max-width: inherit;
  margin-top: 0;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 3rem;

  @media (min-width: 800px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

a {
  color: inherit;
}

a[href^="mailto:"]:before {
  display: none;
}

/* force pages with small content to fill page width */
@media (max-width: 916px) {
  body {
    width: 100%;
  }
}

body > main {
  min-height: 80vh;
  max-width: 916px;
}

body > footer {
  max-width: 800px;
  margin: 3rem 0;
  border-top: none;
}

/*  header and menu */

header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
header .header-bottom {
  flex: 1;
  overflow: hidden;
}
header .header-spacer {
  height: 1rem;
  flex-shrink: 0;
}
header .header-bottom.hero-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header .title-and-menu-link {
  margin: 2rem 0 1rem 0;
  border-bottom: 1px solid var(--text-main);
}
header h1 {
  font-family: AtlasTitle;
  margin: 0;
}
header .title {
  flex: 1;
  text-align: center;
  margin: 0 0 1rem 0;
  padding: 0;
}
header .title svg {
  max-height: 2rem;
}
/* css rule for svg paths where fill is different from #FFFFFF */
header .title svg path:not([fill="#FFFFFF"]) {
  fill: var(--text-main);
}
.menu ul {
  list-style-type: none;
  margin: 0 0 .5rem 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* medias display */

figure {
  margin: 0;
  text-align: center;
}
.photos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-bottom: 3rem;
}
.photos-grid img {
  max-height: 30vh;
  aspect-ratio: 1;
  object-fit: contain;
}
.photos-grid img:hover {
  filter: brightness(0.9);
}
@media (min-width: 800px) {
  .photos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.photos-grid {
  font-size: 12px;
}


/* projets */

.titles-wrapper {
  padding: 1rem 0;
  border-bottom: 1px solid #000;
  margin-bottom: 3rem;
}
.titles h2 {
  font-size: 40px;
}
.titles h3:nth-child(1) {
  font-weight: 200;
}
.titles h2, .titles h3 {
  margin-top: 0;
}

.projet-description {
  margin-bottom: 3rem;
}

/* contact */

@media (min-width: 800px) {
  .contact-page {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    &>div:nth-child(1) {
      flex-grow: 1;
      img {
        object-fit: contain;
      }
    }
    &>div:nth-child(2) {
      white-space: nowrap;
    }
  }
}

.underlined-links a{
  text-decoration: underline;
}
.underlined-links ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 2rem;
}
.underlined-links li {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: .5rem;
}


/*
  force hide photoswipe stretched thumb while actual image loads because our thumbs have
  different aspect ratios than the actual images and that is not handled by photoswipe
 */
.pswp__img--placeholder {
  display: none !important;
}

/* for homepage */

.home-image-and-text {
  font-size: 12px;
}
.center {
  text-align: center;
}
@media (max-width: 799px) {
  .home-image-and-text>div:first-child {
    text-align: center;
  }
}
@media (min-width: 800px) {
  .home-image-and-text {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  .home-image-and-text > div:nth-child(1){
    flex: 2;
    img {
      width: 100%;
    }
  }
  .home-image-and-text > div{
    flex: 1;
  }
  .home-image-and-text>div>p:first-child{
    margin-top: 0;
  }
}
